#### Part 3 Instructions
#### Create a Travel Itinerary with a Corresponding Map

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
import time
import json
from datetime import datetime
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# read data from csv and store into dta frame
file_name = os.path.join(".","data","WeatherPy_vacation.csv")
weather_vacation_data_df = pd.read_csv(file_name)
weather_vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Hilo,US,82.40,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,5,Butaritari,KI,82.92,light rain,3.07,172.79,Isles Sunset Lodge
2,11,Kieta,PG,85.69,clear sky,-6.22,155.63,NaN
3,12,Bambanglipuro,ID,78.13,overcast clouds,-7.95,110.28,Puri Brata
4,13,Avarua,CK,75.20,clear sky,-21.21,-159.78,Paradise Inn

In [4]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in weather_vacation_data_df.iterrows()]

In [5]:
# Add a heatmap of temperature for the vacation spots.
locations = weather_vacation_data_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
city_name1 = input("Please enter first city name, you can click on merket to get city name: ")

Please enter first city name, you can click on merket to get city name: Fernie

In [23]:
city_name2 = input("Please enter second city name, you can click on merket to get city name: ")

Please enter second city name, you can click on merket to get city name: Show Low

In [24]:
city_name3 = input("Please enter third city name, you can click on merket to get city name: ")

Please enter third city name, you can click on merket to get city name: Lincoln

In [25]:
city_name4 = input("Please enter fourth city name, you can click on merket to get city name: ")

Please enter fourth city name, you can click on merket to get city name: Redlands

In [26]:
print(f'1:{city_name1}, 2:{city_name2}, 3:{city_name3}, 4:{city_name4}')

1:Fernie, 2:Show Low, 3:Lincoln, 4:Redlands

In [27]:
# Get infor for each entered city
vacation_stop_1 = weather_vacation_data_df.loc[weather_vacation_data_df["City"] == city_name1]
vacation_stop_2 = weather_vacation_data_df.loc[weather_vacation_data_df["City"] == city_name2]
vacation_stop_3 = weather_vacation_data_df.loc[weather_vacation_data_df["City"] == city_name3]
vacation_stop_4 = weather_vacation_data_df.loc[weather_vacation_data_df["City"] == city_name4]

In [28]:
print(f"1:{vacation_stop_1} \n 2:{vacation_stop_2} \n 3:{vacation_stop_3}\n 4:{vacation_stop_4}")

1:     City_ID    City Country  Max Temp Current Description   Lat     Lng  \
122      348  Fernie      CA      75.2       broken clouds  49.5 -115.07

                 Hotel Name
122  Fernie Stanford Resort
 2:    City_ID      City Country  Max Temp Current Description    Lat     Lng  \
67      195  Show Low      US      82.4           clear sky  34.25 -110.03

                               Hotel Name
67  Hampton Inn & Suites Show Low-Pinetop
 3:     City_ID     City Country  Max Temp Current Description   Lat    Lng  \
114      331  Lincoln      US      75.2     overcast clouds  40.8 -96.67

                                           Hotel Name
114  Courtyard by Marriott Lincoln Downtown/Haymarket
 4:     City_ID      City Country  Max Temp Current Description    Lat     Lng  \
186      560  Redlands      US      86.0                haze  34.06 -117.18

                  Hotel Name
186  Dynasty Suites Redlands

In [29]:
# Getting Lat and Lg for each city and storing it as tuple
city_1_lat_lng = vacation_stop_1["Lat"].values[0], vacation_stop_1["Lng"].values[0]
city_2_lat_lng = vacation_stop_2["Lat"].values[0], vacation_stop_2["Lng"].values[0]
city_3_lat_lng = vacation_stop_3["Lat"].values[0], vacation_stop_3["Lng"].values[0]
city_4_lat_lng = vacation_stop_4["Lat"].values[0], vacation_stop_4["Lng"].values[0]

In [30]:
print(f'1:{city_1_lat_lng}, 2:{city_2_lat_lng}, 3:{city_3_lat_lng}, 4:{city_4_lat_lng}')

1:(49.5, -115.07), 2:(34.25, -110.03), 3:(40.8, -96.67), 4:(34.06, -117.18)

In [31]:
# Get the directions
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_itinerary = gmaps.directions_layer(city_1_lat_lng, city_4_lat_lng, 
                                          waypoints=[city_2_lat_lng, city_3_lat_lng],travel_mode='DRIVING')
fig.add_layer(travel_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
type(vacation_stop_1)

pandas.core.frame.DataFrame

In [17]:
# Create a marker layer map for the four cities
# frames = [df1, df2, df3]
# In [5]: result = pd.concat(frames)
# combine 4 dataframes
frames = [vacation_stop_1, vacation_stop_2, vacation_stop_3, vacation_stop_4]
results_df = pd.concat(frames)

In [18]:
results_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,115,Almaznyy,RU,75.20,overcast clouds,48.04,40.05,NaN
165,497,Beyneu,KZ,77.49,clear sky,45.32,55.20,NUR
124,355,Aksarayskiy,RU,84.00,broken clouds,46.79,48.01,NaN
164,494,Gazanjyk,TM,87.17,few clouds,39.24,55.52,Railway motel

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
itinerary_hotel_info = [info_box_template.format(**row) for index, row in results_df.iterrows()]

In [20]:
# marker layer map
locations = results_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))