In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
file_name = os.path.join(".", "weather_data", "cities.csv")
city_data_df = pd.read_csv(file_name)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ilulissat,GL,2020-06-18 20:58:55,69.22,-51.10,33.80,64,90,5.82
1,1,Busselton,AU,2020-06-18 20:56:02,-33.65,115.33,39.00,98,49,3.18
2,2,Lichuan,CN,2020-06-18 21:00:07,30.30,108.85,64.06,98,100,2.37
3,3,Carnarvon,AU,2020-06-18 20:57:36,-24.87,113.63,57.20,76,0,10.29
4,4,Calabozo,VE,2020-06-18 21:00:07,8.92,-67.43,79.57,88,100,3.02

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds  = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind  Speed
locations = city_data_df[["Lat", "Lng"]]
wind   = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Calabozo,VE,2020-06-18 21:00:07,8.92,-67.43,79.57,88,100,3.02
5,5,Puerto Ayora,EC,2020-06-18 20:57:43,-0.74,-90.35,84.20,51,67,14.99
6,6,Atuona,PF,2020-06-18 20:57:33,-9.80,-139.03,80.08,76,13,12.55
12,12,Merauke,ID,2020-06-18 20:59:04,-8.47,140.33,78.37,78,70,16.71
13,13,Tepulco,MX,2020-06-18 21:00:09,19.12,-97.98,80.60,28,40,8.05
14,14,Rikitea,PF,2020-06-18 21:00:09,-23.12,-134.97,75.85,85,100,16.06
17,17,Samarai,PG,2020-06-18 20:57:50,-10.62,150.67,79.21,83,43,15.30
19,19,Muttupet,IN,2020-06-18 21:00:11,10.40,79.48,84.99,79,100,5.59
26,26,Galle,LK,2020-06-18 21:00:13,6.04,80.22,81.50,87,77,9.28
33,33,Vaini,TO,2020-06-18 21:00:14,-21.20,-175.20,73.40,73,20,11.41

In [12]:
preferred_cities_df.count()

City_ID       239
City          239
Country       237
Date          239
Lat           239
Lng           239
Max Temp      239
Humidity      239
Cloudiness    239
Wind Speed    239
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       239
City          239
Country       237
Date          239
Lat           239
Lng           239
Max Temp      239
Humidity      239
Cloudiness    239
Wind Speed    239
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
4       Calabozo      VE     79.57   8.92  -67.43
5   Puerto Ayora      EC     84.20  -0.74  -90.35
6         Atuona      PF     80.08  -9.80 -139.03
12       Merauke      ID     78.37  -8.47  140.33
13       Tepulco      MX     80.60  19.12  -97.98
14       Rikitea      PF     75.85 -23.12 -134.97
17       Samarai      PG     79.21 -10.62  150.67
19      Muttupet      IN     84.99  10.40   79.48
26         Galle      LK     81.50   6.04   80.22
33         Vaini      TO     73.40 -21.20 -175.20

In [16]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:12
Hotel not found... skipping., index:37
Hotel not found... skipping., index:77
Hotel not found... skipping., index:192
Hotel not found... skipping., index:201
Hotel not found... skipping., index:231
Hotel not found... skipping., index:284
Hotel not found... skipping., index:304
Hotel not found... skipping., index:306
Hotel not found... skipping., index:331
Hotel not found... skipping., index:335
Hotel not found... skipping., index:351
Hotel not found... skipping., index:356
Hotel not found... skipping., index:381
Hotel not found... skipping., index:437
Hotel not found... skipping., index:443
Hotel not found... skipping., index:508
Hotel not found... skipping., index:514
Hotel not found... skipping., index:532
Hotel not found... skipping., index:536
Hotel not found... skipping., index:579
Hotel not found... skipping., index:583
Hotel not found... skipping., index:596

In [19]:
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng                 Hotel Name
4       Calabozo      VE     79.57   8.92  -67.43             Hotel Giardini
5   Puerto Ayora      EC     84.20  -0.74  -90.35  Finch Bay Galapagos Hotel
6         Atuona      PF     80.08  -9.80 -139.03                Villa Enata
12       Merauke      ID     78.37  -8.47  140.33
13       Tepulco      MX     80.60  19.12  -97.98            reparaciones pc
14       Rikitea      PF     75.85 -23.12 -134.97             Pension Maro'i
17       Samarai      PG     79.21 -10.62  150.67                  Nuli Sapi
19      Muttupet      IN     84.99  10.40   79.48       Hotel Star Residency
26         Galle      LK     81.50   6.04   80.22          CocoBay Unawatuna
33         Vaini      TO     73.40 -21.20 -175.20        Keleti Beach Resort

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# hotel marker with names
# marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

SyntaxError: invalid syntax (<ipython-input-22-86cf91c733f9>, line 1)